* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    color: $body-color;
    background: $body-background;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
