h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p {
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

.list {
    margin: 0;
    padding: 0;

    &__item {
        display: block;
        list-style: none;
    }
}

strong {
    font-weight: 500;
}
